{% block content %}
<h1>Authorization succeeded.</h1>
<h1>Hello, Admin:)</h1>
<h2>Dashboard</h2>
<div>
  {% if total_user%}
  <div>There are total {{total_user}} users using our platform.</div>
  {% endif %}

  {% if total_item%}
  <div>There are total {{total_item}} items in our platform.</div>
  {% endif %}

  {% if total_retailer%}
  <div>There are total {{total_retailer}} retailers using our platform.</div>
  {% endif %}

  {% if total_order%}
  <div>There are total {{total_order}} orders using our platform.</div>
  {% endif %}
</div>

<h2>Start a new query:</h2>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    {% if error %}
    <span style="color: red;">[{{ "Result not found!" }}]</span>
    {% endif %}

    <p>
        {{ form.search_by.label }}<br>
        {{ form.search_by}}<br>
        {% for error in form.search_by.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.key.label }}<br>
        {{ form.key(size=32) }}<br>
        {% for error in form.key.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>

<h2>Query Result</h2>
      <div>
        {% if not all_info %}
        <span style="color: rgb(48, 62, 104);">    No result found:(    </span>
        {% else %}        
        <table>
            <thead>
              <tr>
              {% for key in all_info_title %}
                <th class="c1">{{key}}</th>
              {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for entires in all_info %}
              <tr>
                {% for c in entires %}
                <td class="c2">{{c}}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% endif %}        


          <p>{{ form.delete() }}</p>

          
        </div>
        
      </form>


{% endblock %}
