{% block content %}
<h1>Please Enter Your Authorized Token:</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    {% if error %}
    <span style="color: red;">[{{ "Username-password combination not found!" }}]</span>
    {% endif %}

    <p>
        {{ form.token.label }}<br>
        {{ form.token(size=32) }}<br>
        {% for error in form.token.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }} </p>


</form>
{% endblock %}

