<h1>hello, {{user_info["user_name"]}}!</h1>

<h3>Account Information</h3> 

<div>
    <div>User ID:   {{user_info["user_id"]}}</div>
    <div>Username:   {{user_info["user_name"]}}</div>
    <div>Date of birth:   {{user_info["dob"]}}</div>
    <div>Gender:   {{user_info["gender"]}}</div>
    <div>Account created at:   {{user_info["created_time"]}}</div>
  </div>

  <form method="post" action="/">
    <input type="submit" value="UPDATE" name="update"/>
    </form>

  <h3>Order History</h3>
  <div>
    <!-- <div>{{all_items_title}}</div>
    {% for a in all_items %}
    <div>{{a}}</div>
    {% endfor %} -->
    <table>
        <thead>
          <tr>
          {% for key in all_items_title %}
            <th class="c1">{{key}}</th>
          {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for order_id, item_name, retailer_name, brand, quantity, order_time in all_items %}
          <tr>
            <td class="c2">{{order_id}}</td>
            <td class="c2">{{item_name}}</td>
            <td class="c2">{{retailer_name}}</td>
            <td class="c2">{{brand}}</td>
            <td class="c2">{{quantity}}</td>
            <td class="c2">{{order_time}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
